.form-cadastro{
	padding:20px 0;
	.container{
		position: relative;
		.presentinho{
			position:absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}

		form{
			position:relative;
			z-index: 1;
			fieldset{
				padding-top: 100px;
				margin-bottom: 30px;
				&.financeiro{
					padding-top:0;
				}
				span{
					color: #e6c93b;
					font-family: 'HelveticaNeueLTPro';
					font-size: 17px;
				}
				label{
					font-family: 'HelveticaNeueLTPro';
					font-size: 17px;
					display: block;
					color: #525353;
					clear: both;
					margin: 10px 0;
					&.radio{
						display: inline-block;
						clear: none;
						padding-left:0;
						input{
							display: inline-block;
							width: 18px;
    						margin-left: 10px;
						}
					}
					input{
						border:0;
						border-bottom:1px solid #525353;
						width: 100%;

					}
					select{
						border:0;
						border-bottom:1px solid #525353;
						width: 100%;

					}
				}
			}
			button{
				font-family: 'dk_astromonkeyregular';
				color: #FFF;
				font-size:26px;
				text-align:center;
				border:0;
				background-color: #699dd2;
				clear: both;
				display: block;
				margin:30px auto;
			}
		}
	}
}