header h2{
  margin-top:11px
}

.preview{
  margin-top:20px;
  margin-bottom:-49px
}

.box-preview:first-child{
  background:url(../images/img-festa.png) no-repeat;
  background-position:right;
  text-align:right;
  padding-top:155px;
  font:bold 28px Arial;
  color:#FFF;
  text-transform:uppercase;
}

.box-preview:last-child img{ 
  margin-left: 80px
} 

.box-preview{
  width:50%;
  height: 132px;
  float: left;
}

.box-preview span,.box-preview small{
  display:block
}
.preview-presentinho{
  top:718px;
}
.preview-header{
  height:180px;
}

.preview-header-decor{
  width:100%;
  height:87px;
  background:#1e9bd7!important;
}

.preview-header-decor img{
  margin-top:-75px;
  z-index:1;
  position:relative;
}
.preview-header-name{
  top:53px;
}
.preview-header-info{
  top:75px;
  left:47%;
}

.preview-header-address{
  background:#1e9bd7!important;
}

.sub-menu{
  margin-top:10px
}

.boxfL,.boxfR{
  float:left;
  width:50%;
  position:relative;
}

.boxfL img{margin:-41px 112px}

.boxfL img.preview-presentinho-vermelho{
    position: absolute;
    left: 0;
    top: 70px;
    margin-left: 0;
}

.boxfR fieldset{
  margin-top:40px;
  padding:40px 84px 40px 61px;
  background:url(../images/bg-box-confirmacao.png) no-repeat;
  width:567px;
  height:404px;
}

.boxfR fieldset .form-input{
  padding-left:10px
}

.boxfR fieldset select{
  width:300px
}

.boxfR fieldset .text-left{
  font-size: 17px;
  color: #FFF;
  font-family: verdana;
}

.boxfR fieldset .enviar{
  color:#999
}

.presente{
  margin-top:30px;
}

.presente .bg{
  position: absolute;
  top: -115px;
  left: -209px;
} 

.presente ul{
  margin:auto;
  padding:130px 0;
  width:965px;
  height:428px;
  background:#FFF;
}

.presente ul li{
  border-left:1px solid #dcdbda;
  border-right:1px solid #dcdbda;
}

.presente ul li:first-child,.presente ul li:last-child{
  border-left:none;
  border-right:none;
}

.presente ul li p a{
  position:relative;
  z-index:1;
  color:#000;
}

.presente .preview-item-toys,.presente .preview-item-clothes,.presente .preview-item-quota{
  margin:auto;
  width:110px;
  height:104px;
}

.presente .preview-item-toys{
  background:url(../images/img-brinquedo.png) no-repeat;
}

.presente .preview-item-clothes{
  background:url(../images/img-roupa.png) no-repeat;
}

.presente .preview-item-quota{
  background:url(../images/img-cotas.png) no-repeat;
}

.presente ul li p.desc{
  font-size:17px
}

.presente .porcentagem{
  margin:10px auto;
  border:5px solid #1e9bd7;
  width:140px;
  height:20px;
}

.presente .porcentagem span {
  float:left;
  background-color:#f09121;
  height:10px;
}

.presente .porcentagem strong {
  display: inline-block;
  margin: 10px 0;
  font-size: 15px;
  font-weight: normal;
}

.mensagem{
  margin-top:50px;
}

.mensagem fieldset{
  background:url(../images/bg-mensagem.png) no-repeat;
  width:564px;
  height:460px;
  padding:35px 67px 20px 48px;
  margin-right:30px;
  float:right;
}

.mensagem .form-input{
  padding:0 10px;
}

.mensagem .text-left{
  font-size:14px;
  color:#FFF;
}

.mensagem textarea{
  padding-top:10px!important;
}

.mensagem button{
  padding:5px!important;
}

.mensagem .preview-advertising{
  margin:7px 0 0 30px;
  width:444px;
  height:221px;
}
 
.maps{
  padding:40px;
  width:1174px;
  height: 495px;
  background:#FFF url(../images/bg-mapa.png) no-repeat 69px 72px;
  margin:30px auto;
}

.maps .g-maps{
  float:right;
  margin:8px 80px 0 0;
}

.maps .where{
  width:355px;
  margin-top:195px;
  padding:20px;
  background-color:#d6e5f5;
  display:inline-block;
}

.maps .where h3{
  color:#f09121;
  font-size:15px;
  padding-top:10px
}

.maps .where h3:first-child{
  padding-top:0
}

.maps .where p{
  color:#245667;
  font-size:15px
}

.brinquedosLista .dados-container{
  padding-top:50px;
}

.brinquedosLista .gifts-box-number{
  padding:175px 0 0 40px;
}

.brinquedosLista .porcentagem{
  margin:20px 22px 35px 22px;
  border:5px solid #1e9bd7;
  width:140px;
  height:20px;
  display:inline-block;
}

.brinquedosLista .porcentagem span {
  float:left;
  background-color:#f09121;
  height:10px;
}

.brinquedosLista .porcentagem strong {
  display: block;
  margin: 15px 0;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
}

.brinquedosLista .gifts-filter-search{
  width:220px;
}

.brinquedosLista .gifts-item-button-show-cota{
  border-right:0;
  border-left:0;
}

.brinquedosLista .gifts-item-detalhe .row p.gifts-item-title{
  font-size:27px;
  font-weight:bold;
  padding-left:15px;
}

.brinquedosLista .gifts-item-detalhe h5.gifts-item-title{
height:auto;
padding:3px;
}

.brinquedosLista .gifts-item-detalhe p{
  padding:3px;
}

.brinquedosLista .gifts-item-detalhe .bgC{
  background-color:#eaeaea;
}

.brinquedosLista .gifts-item-detalhe .gifts-item-content div{
  margin:20px 0;
  padding:0;
}


.brinquedosLista .gifts-item-detalhe .gifts-item-content div:last-child{
  padding-left:20px;
}

.brinquedosLista .gifts-item-detalhe .my-birthday-create-button-small{
  width:100%;
  margin:0;
  text-align:center;
}