
header.area-convidado {
background: none;
}

header.area-convidado .navbar.navbar-default .navbar-collapse .navbar-nav li a {
		padding: 0 15px 5px;
		color: #6B6C6A;
		font: 18px 'HelveticaNeueStd';
}
header.area-convidado .navbar.navbar-default .navbar-collapse .navbar-nav li.divisor {
		border-right: 3px solid #6B6C6A;
}
header.area-convidado .navbar.navbar-default .navbar-collapse .navbar-nav li {
		border-bottom: 3px solid #6B6C6A;
}
header.area-convidado .navbar.navbar-default .navbar-collapse .navbar-nav li.login-do{
	border:none;
}
header.area-convidado h2 {
	font-family: 'dk_astromonkeyregular';
	color: #6B6C6A;
	font-size: 26px;
	text-align: center;
	margin-top: -15px;
	letter-spacing: 5px;
}
.preview{
	margin-top:20px;
	margin-bottom:-49px
}

.box-preview:first-child{
	background:url(../images/img-festa.png) no-repeat;
	background-position:right;
	text-align:right;
	padding-top:155px;
	font:bold 28px Arial;
	color:#FFF;
	text-transform:uppercase;
}

.box-preview:last-child img{ 
	margin-left: 80px
} 

.box-preview{
	width:50%;
	height: 132px;
	float: left;
}

.box-preview span,.box-preview small{
	display:block
}

.preview-presentinhoHome{
	top:718px;
	z-index: 5;
}

.preview-header {
	height: 180px;

	&-container {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 5;
		// position: fixed;
		// top: 0;
		// left: 0;
		// width: 100%;
	}

	&-space {
		height: 180px;
		position: relative;
		width: 100%;
		margin-top: 27px;
	}

	&-decor {
		width: 100%;
		height: 87px;
	
		img {
			z-index: 2;
			position: relative;
		}

		&.preview-banner-item-foto {
			z-index: 1;
			margin-top: -124px;
		}
	}

	&-image {
		height: auto;
		top: -11px;
		left: 50%;
		margin-left: -83px;
	}

	&-name {
		top: 53px;
	}

	&-info {
		top: 75px;
		left: 47%;
	}
}

.sub-menu{
	margin-top: 10px;

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;

    &-container {
    	height: 67px;
    }
}

.boxfL,.boxfR{
	float:left;
	width:50%;
	position:relative;
}

.boxfL img{margin:-41px 112px}

.boxfL img.preview-presentinho-vermelho{
		position: absolute;
		left: 0;
		top: 70px;
		margin-left: 0;
}

.rsvp-form-content .response {
	color: #fff;
	font-size: 15px;
}

.boxfR fieldset{
	margin-top:40px;
	padding:40px 84px 40px 61px;
	background:url(../images/bg-box-confirmacao.png) no-repeat;
	width:567px;
	height:404px;
}

.boxfR fieldset .form-input{
	padding-left:10px
}

.boxfR fieldset select{
	width:300px
}

.boxfR fieldset .text-left{
	font-size: 17px;
	color: #FFF;
	font-family: verdana;
}

.boxfR fieldset .enviar{
	color:#999
}

.presente{
	margin-top:30px;
}

.presente .bg{
	position: absolute;
	top: -115px;
	left: -209px;
} 

.presente ul{
	margin:auto;
	padding:130px 0;
	width:965px;
	height:428px;
	background:#FFF;
}

.presente ul li{
	border-left:1px solid #dcdbda;
	border-right:1px solid #dcdbda;
}

.presente ul li:first-child,.presente ul li:last-child{
	border-left:none;
	border-right:none;
}

.presente ul li p a{
	position:relative;
	z-index:1;
	color:#000;
}

.presente .preview-item-toys,.presente .preview-item-clothes,.presente .preview-item-quota{
	margin: auto;
	width: 110px;
	height: 104px;
	display: block
}

.presente .preview-item-toys{
	background:url(../images/img-brinquedo.png) no-repeat;
}

.presente .preview-item-clothes{
	background:url(../images/img-roupa.png) no-repeat;
}

.presente .preview-item-quota{
	background:url(../images/img-cotas.png) no-repeat;
}

.presente ul li p.desc{
	font-size:17px
}

.presente .porcentagem{
	margin:10px auto;
	border:5px solid #1e9bd7;
	width:140px;
	height:20px;

	&-container {
		display: inline-block;
		width: 100%;
	}

	strong {
		display: inline-block;
		margin: 5px 0;
		font-size: 15px;
		font-weight: normal;
	}
}

.presente .porcentagem span {
	float:left;
	background-color:#f09121;
	height:10px;
}

.mensagem{
	margin-top:50px;
}

.mensagem fieldset{
	background:url(../images/bg-mensagem.png) no-repeat;
	width:564px;
	height:460px;
	padding:35px 67px 20px 48px;
	margin-right:30px;
	float:right;
}

.mensagem .form-input{
	padding:0 10px;
}

.mensagem .text-left{
	font-size:14px;
	color:#FFF;
}

.mensagem textarea{
	padding-top:10px!important;
}

.mensagem button{
	padding:5px!important;
}

.mensagem .preview-advertising{
	margin:7px 0 0 30px;
	width:444px;
	height:221px;
}
 
.maps{
	padding:40px;
	width:1174px;
	// height: 495px;
	background:#FFF url(../images/bg-mapa.png) no-repeat 69px 72px;
	margin:30px auto;
}

.maps .g-maps{
	float:right;
	margin:8px 80px 0 0;
}

.maps .where{
	width:355px;
	margin-top:195px;
	padding:20px;
	background-color:#d6e5f5;
	display:inline-block;
}

.maps .where h3{
	color:#f09121;
	font-size:15px;
	padding-top:10px
}

.maps .where h3:first-child{
	padding-top:0
}

.maps .where p{
	color:#245667;
	font-size:15px
}

.brinquedosLista.brinquedosListaCompraOnline .gifts-item-detalhe .gifts-item-content .brinquedosListaAtencao {
	background-color: #f09121;
	margin: 10px 0;
	padding: 10px;
}

.brinquedosLista.brinquedosListaCompraOnline .gifts-item-detalhe .gifts-item-content .brinquedosListaAtencao h5 {
	font-weight: bold;
	color: #000;
}

.brinquedosLista.brinquedosListaCompraOnline .gifts-item-detalhe .gifts-item-content .brinquedosListaAtencao p {
	color: #000;
}

.brinquedosLista .dados-container{
	padding-top:50px;
}

.brinquedosLista .gifts-box-number{
	padding:175px 0 0 40px;
}

.brinquedosLista .porcentagem{
	margin:20px 22px 35px 22px;
	border:5px solid #1e9bd7;
	width:140px;
	height:20px;
	display:inline-block;
}

.brinquedosLista .porcentagem span {
	float:left;
	background-color:#f09121;
	height:10px;
}

.brinquedosLista .porcentagem strong {
	display: block;
	margin: 15px 0;
	font-size: 15px;
	font-weight: normal;
	text-align: center;
}

.brinquedosLista .gifts-filter-search{
	width:220px;
}

.brinquedosLista .gifts-item-button-show-cota{
	border-right:0;
	border-left:0;
}

.brinquedosLista .gifts-item-detalhe .row p.gifts-item-title{
	font-size:17px;
	font-weight:bold;
	padding-left:15px;
}

.brinquedosLista .gifts-item-detalhe h5.gifts-item-title{
	height:auto;
	padding:3px;
}

.brinquedosLista .gifts-item-detalhe p{
	padding:3px;
}

.brinquedosLista .gifts-item-detalhe .bgC{
	margin-bottom:2px;
	background-color:#eaeaea;
}

.brinquedosLista .gifts-item-detalhe .gifts-item-content div{
	margin:20px 0;
	padding:0;
}

.brinquedosLista.brinquedosListaCompraOnline .gifts-item-detalhe .gifts-item-content div{
	margin: 0;
}

.brinquedosLista .gifts-item-detalhe .gifts-item-content div:last-child{
	padding-left:20px;
}

.brinquedosLista .gifts-item-detalhe .my-birthday-create-button-small{
	width:100%;
	margin:0;
	text-align:center;
	border: 0;
}

.brinquedosLista .mensagem-interna{
	margin:0 0 50px 74px;
	width:569px;
	height:374px;
	background:url(../images/bg-mensagem-interna.png) no-repeat;
	position:relative;
}

.brinquedosLista .mensagem-interna fieldset{
	padding:39px 156px 0 75px;
}

.brinquedosLista .mensagem-interna textarea.form-control,.brinquedosLista .mensagem-interna input.form-input{
	padding:5px;
}

.brinquedosLista .mensagem-interna textarea.form-control{
	height:88px;
}

.brinquedosLista .mensagem-interna button.msg-form-enviar{
	padding:5px 10px;
	text-transform:uppercase;
	border:1px solid #bebec0;
	background:#FFF;
	font-size:12px;
	color:#bebec0;
	position:absolute;
	bottom:5px;
	right:76px;
}

.brinquedosLista .mensagem-interna .my-birthday-create-button-small{
	margin:0;
	padding:0;
	background:none;
}

.brinquedosLista .mensagem-interna p{
	font-size:14px;
	color:#FFF;
}

.brinquedosLista .mensagem-interna .presentinho-azul{
		position: absolute;
		bottom: 0;
		right: -148px;
}

.brinquedosLista .roupaMedidas{
	position: absolute;
	background: #FFF;
	z-index: 2222;
	width: 100%;
	opacity:0.95;
	padding:20px 63px;
}

.brinquedosLista .roupaMedidas .my-birthday-create-button-small{
	font-size:22px;
}

.brinquedosLista .select2-obs{
		margin:10px 0 0 0;
		padding-left: 0 !important;
		padding-right: 0 !important;
		color: #a0a3a5 !important;
		font: 16px HelveticaNeueStd_CN;
		display:block;
}

.brinquedosLista .linkLojaOnline{
	background:#019ee3;
	color:#FFF;
	font:17px Arial;
	float:left;
	padding:26px 10px!important;
	margin-right:24px;
	margin-bottom:15px;
}

.brinquedosLista .linkLojaOnline[disabled] {
	background-color: #B8B9BA;
	pointer-events: none;
}

.brinquedosLista .formOnline{
	padding:0;
}

.brinquedosLista .formOnline input,.brinquedosLista .formOnline textarea{
	padding:5px;
	border-bottom:0;
}

.brinquedosLista .formOnline textarea{
	height: 200px;
}

.brinquedosLista .formOnline .gifts-item-price-value{
	font-size:14px;
}

.brinquedosLista .formOnline .form-group{
	margin:10px 0 0!important;
}

.brinquedosLista .formOnline .col-md-2{
	margin:0 20px 20px 0!important;
	float:right!important;
}

.brinquedosLista .gifts-item .gifts-item-buttons a{
	color:#000;
	text-align:center;
	padding:2px 0 3px;
}

.criarPresentes .gifts-box-number{
	padding:4px 16px 0;
	background-color:#fff;
}

.criarPresentes .dados-container{
	padding:8px 0;
}

.criarPresentes .gifts-box-toys-add{
	width:206px;
}

.criarPresentes .gifts-item-price-description:first-child{
	margin-bottom:10px;
}

.criarPresentes .gifts-item-price-description-cota{
	font:15px 'HelveticaNeueStd_CN';
	color:#bebec0;
	margin:-30px 0 20px 12px;
}

.criarPresentes .upload-image{
	display:none;
}

.criarPresentes .gifts-item-buttons{
	padding:0!important;
}

.criarPresentes .gifts-item-buttons button:last-child{
	padding-top:10px!important;
}

.criarPresentes .bt-editar{
	text-indent:-15000px;
	background:url(../images/bt-edit.png) no-repeat;
	width:16px;
	height:16px;
	float:right;
}

.criarPresentes .gifts-item-price-value span.gifts-item-price-description,.criarPresentes .gifts-item-price-value span.gifts-item-price-value{
	padding:0 3px;
}

.criarPresentes .gifts-item-price-value p.radio{
	padding:3px!important;
	margin:0!important;
}

.criarPresentes .gifts-item-price-value .form-birthday-size-container{
	margin:5px 3px 10px!important;
	display:block;
	clear:both;
}

.criarPresentes .alerta{
	background-color:#f1dc85;
	display:inline-block;
	text-align:center;
	padding:37px;
	position:absolute;
	top:103px;
	right:0;
	z-index:2;
	opacity:0.9;
}
.criarPresentes .alerta a{
	font-size:18px;
	color:#f59324;
	position:absolute;
	top:1px;
	right:8px;
}
.criarPresentes .alerta p{
	font:15px 'HelveticaNeueStd_CN';
	margin-bottom:10px;
}
.criarPresentes .alerta small{
	font:13px 'HelveticaNeueStd_CN';
}
.criarPresentes .gifts-item-content-preview .iframeEcommerce{
	margin:-20px 0!important;
}
form .textB{
	color:#555!important;
}

.filter-categories {
	&-input:checked ~ .filter-categories-label {
		.orange {
			display: block;
		}

		.red {
			display: none;
		}
	}

	&-item {
		vertical-align: top;
		color: #4d5053;
		font: 15px 'HelveticaNeueStd_CN';
		cursor: pointer;
		text-align: center;
	}
}

.slimScrollBar {
	background: red !important;
	opacity: 1 !important;
	z-index: 999 !important;
}