.form-birthday {
	&-first {
		margin-top: 40px;
	}

	&-presence {
		border-top: 1px solid #c1c1c1;
		margin-top: 43px;
		padding-top: 10px;
	}

	&-paginate {
		&-list {
			list-style-type: none;
		}

		&-item {
			background: url('../images/niver-paginate.png') no-repeat;
			width: 22px;
			height: 22px;
			display: inline-block;
			margin-right: 12px;

			&:last-child {
				margin-right: 0;
			}

			&.active {
				background-color: #019ee3;
			}
		}
	}

	&-submit {
		@extend .reset-btn;
		display: block;
		margin: 0 auto 35px;
	}
}

.form-inline .form-birthday {
	&-years {
		width: 16%;
	}

	&-date {
		&-day, &-month {
			width: 10%;
		}

		&-year {
			width: 18%;
		}
	}

	&-time {
		width: 18%;
	}

	&-separator {
		padding-top: 21px;
		line-height: 0;
	}

	&-calendar {
		border: 0;
		background-color: transparent;
		font-size: 19px;
		vertical-align: bottom;
		padding-bottom: 0;
	}

	&-photo {
		margin: 20px auto;
		display: table;
	}
}