input {
	outline: 0;
}

.usuario {
	&-ajax {
		&-content {
			background-color: #fff;
			height: 100%;
		}

		&:after {
			content: "";
			background: url(../images/presentinho_formulario.png);
			width: 150px;
			height: 214px;
			position: absolute;
			right: -74px;
			top: 170px;
		}
	}

	&-form {
		background-color: #fff;
		height: 100%;

		&-header-text {
			width: 100%;
			display: inline-block;
		}

		&-header-text, &-header-text a {
			color: #e6c93b;
			font-family: 'HelveticaNeueStd';
			font-size: 17px;
		}

		fieldset {
			background-color: #fff;
		}

		&-enviar {
			font: 18px/40px 'dk_astromonkeyregular';
			letter-spacing: 0.26em;
			color: #FFF;
			text-align:center;
			border: 0;
			background-color: #019ee3;
			clear: both;
			display: block;
			margin: 23px auto 8px;
			padding: 0 40px;
			max-width: 100%;
		}
	}

	&-menu {
		font-family: 'HelveticaNeueStd';
		font-size: 17px;
		display: block;
		color: #525353;
		clear: both;
		text-decoration: none;
		margin-bottom: 5px;

		&:active, &:hover, &:focus {
			text-decoration: none;
		}

		&.active{
			color: #FFF;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				background:url(../images/sidemenu_hover.png);
				width: 360px;
				height: 36px;
				left: 0;
				top: 0;
			}
		}

		&-texto {
			position: relative;
			z-index: 1;
			padding: 4px 0 0 5px;
			text-decoration: none;
			font: 17px 'HelveticaNeueStd';

			&-cinza {
				color: #bfbfc1;
				padding: 4px 0 0 5px;
				font: 17px 'HelveticaNeueStd';
			}

			&.usuario-nome {
				font: 28px 'HelveticaNeueStd_BDCN';
			}
		}

		&-dados {
			clear: both;
			margin: 10px 0;
			border-bottom: 1px solid #525353;
			border-top: 1px solid #525353;
			padding: 15px 0;
		}
	}
}

.dashboard{
	padding:20px 0;
	.container{

		position: relative;
		.presentinho{
			position:absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}

		.dados{
			padding-top: 100px;
			background-color: #fff;

			&.financeiro{
				padding-top:0;
			}

			label{
				font-family: 'HelveticaNeueStd';
				font-size: 17px;
				color: #525353;
				span{
					clear: both;
					display: block;
				}
			}

			&-container {
				position: relative;
				z-index: 4;
			}
		}
		.aniversario{
			padding-top: 100px;
			margin-bottom: 30px;
			text-align: center;
			p{
				font-family: 'HelveticaNeueStd';
				font-size: 17px;
				display: block;
				color: #525353;
				clear: both;
				margin: 10px 0;
				text-align: left;
				&.criar{
					text-align: center;
				}
				span{
					color: #e6c93b;

				}
			}
		}
	}
	form{
		position:relative;
		z-index: 1;
		fieldset{
			&.financeiro{
				padding-top:0;
			}

			label{
				font-family: 'HelveticaNeueStd';
				font-size: 17px;
				color: #525353;

				&.error {
					color: #ee4949;
					margin-top: 0;
				}

				input{
					border:0;
					border-bottom:1px solid #525353;
					color: #bebfc2;
				}

				select{
					border:0;
					border-bottom:1px solid #525353;
					width: 100%;
				}
			}
		}
	}
}

.resgate-valor {
	width: 100%;
	border-top: 1px solid #acacac;
	font: 17px 'HelveticaNeueStd';
	color: #525353;
	text-align: center;
	padding: 5px 0;
	margin-top: 10px;
}

.editar-dados {
	padding-top: 142px;
}

.nova-senha {
	padding-top: 142px;

	&-email {
		font-family: 'HelveticaNeueStd';
		font-size: 17px;
		color: #bebfc2;
		margin: 5px 0 10px;
	}

	&-recuperar {
		margin-top: 52px;
	}
}

@media only screen and (min-width : 481px) {
	.flex-row.row {
		display: flex;
		flex-wrap: wrap;
	}

	.flex-row.row > [class*='col-'] {
		display: flex;
		flex-direction: column;
	}

	.flex-row.row:after,
	.flex-row.row:before {
		display: flex;
	}
}
