.my-birthday {
	padding-bottom: 20px;
	margin-top: 50px;
	background-color: #fff;
    position: relative;
    z-index: 1;

    &-actions {
		width: 100%;
		margin: 20px 0 10px;

		&-button {
			border-radius: 0;
			text-transform: uppercase;
			border-top: 0 none;
			border-color: #525353;
			cursor: pointer;

			&-yes {
				border-right: 0 none;
			}

			&-no {
				border-left: 0 none;
				color: #ee4949;
			}

			&:hover {
				background-color: transparent;
			}
		}
    }

    &-remove {
    	padding-top: 32px;
    }

	&-new-text {
		font-family: 'HelveticaNeueStd';
		font-size: 17px;
		color: #525353;
		width: 100%;
		display: inline-block;
		text-align: center;
	}

	&-header-text {
		text-align: center;
	}

	&-create-button {
		margin: 20px auto;
		display: table;

		&-small {
			background-color: #019ee3;
			font: 17px 'dk_astromonkeyregular';
			text-transform: uppercase;
			color: #fff;
			padding: 10px;
			display: table;
			margin: 0 auto 30px;

			&:hover {
				text-transform: uppercase;
				color: #fff;
			}
		}
	}

	&-title {
		font: 17px 'HelveticaNeueStd_BDCN';
		color: #525353;
		margin: 20px 0 30px;
	}

	&-list {
		border-top: 1px solid #525353;
	}

	&-item {
		border-bottom: 1px solid #525353;
		padding: 20px 0 5px;
		display: inline-block;
		width: 100%;

		&-name {
			font: 17px 'HelveticaNeueStd';
			display: block;
			color: #525353;
			clear: both;
		}

		&-date {
			color: #b2b5b8;
			font: 15px 'HelveticaNeueStd';
			display: block;
			width: 100%;
		}

		&-enter, &-confirm {
			color: #4d5053;
			font: 17px 'HelveticaNeueStd';
		}

		&-confirm {
			margin-top: 10px;
		}

		&-unfinished, &-archived {
			font: 17px/27px 'HelveticaNeueStd';
			width: 96px;
			height: 27px;
			text-align: center;
			display: block;
			border-radius: 7px;
		}

		&-unfinished {
			background-color: #bfbfc1;
			color: #ee4a49;
		}

		&-archived {
			background-color: #fff;
			color: #4d5053;
			border: 1px solid #4d5053;
		}

		&-presente, &-lixeira {
			height: 27px;
			width: 27px;
			display: inline-block;
			text-align: center;
			font: 10px/33px 'HelveticaNeueStd_CN';
			color: #fff;
		}

		&-presente {
			background: url(../images/aniversarios_presente_icone.png);
		}

		&-lixeira {
			background: url(../images/aniversarios_trash_icone.png);
		}
	}

	&-footer {
		border-top: 1px solid #525353;
		margin-top: 20px;
		padding-top: 10px;

		&-text1 {
			text-align: left;
		}

		&-text2 {
			color: #b2b5b8;
			font-family: 'HelveticaNeueStd';
			font-size: 17px;
			width: 100%;
			display: inline-block;
		}
	}
}

.form-birthday {
	&-paginate-nav {
		margin-top: 46px;
	}

	&-presence {
		p {
			margin-bottom: 7px;
		}
	}

	&-photo {
		margin-top: 10px;
		display: inline-block;

		img {
			max-width: 100%;
			max-height: 280px;
		}
	}

	&-first {
		margin-top: 40px;
	}

	&-presence {
		border-top: 1px solid #c1c1c1;
		margin-top: 43px;
		padding-top: 10px;
	}

	&-paginate {
		&-list {
			list-style-type: none;
		}

		&-item {
			background: url('../images/niver-paginate.png') no-repeat;
			width: 22px;
			height: 22px;
			display: inline-block;
			margin-right: 12px;

			&:last-child {
				margin-right: 0;
			}

			&.active {
				background-color: #019ee3;
			}
		}
	}

	&-submit {
		@extend .reset-btn;
		display: block;
		margin: 0 auto 35px;
		outline: 0;
	}

	&-upload {
		&-text {
			background-color: #f29200;
			width: 200px;
			color: #fff;
			font: 18px 'HelveticaNeueStd_CN';
			text-align: center;
			margin: 170px auto 0;
			padding: 15px 0;
		}

		&-btn {
			background: url('../images/niver_photo.png') no-repeat;
			width: 269px;
			height: 258px;
			cursor: pointer;
			margin: 72px auto 0;
		}
	}

	&-modal {
		top: 25px;
		background: rgba(255,255,255,0.85);
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;

		&-text {
			text-align: center;
			font-family: 'HelveticaNeueStd';
			font-size: 17px;
			color: #f29200;
			margin: 23px 0 0 0;
			cursor: pointer;
		}

		&-close {
			float: right;
			margin: 10px 15px 0 0;
			height: 30px;
			width: 30px;
			display: inline-block;
			position: relative;

			&:after {
				transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
			}

			&:before {
				transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);				
			}

			&:after, &:before {
				content: "";
				background-color: #f19100;
				width: 3px;
				height: 18px;
				display: inline-block;
				position: absolute;
				top: 7px;
				right: 13px;
			}
		}
	}
}

.form-inline .form-birthday {
	&-years {
		width: 16%;
	}

	&-date {
		&-day, &-month {
			width: 10%;
		}

		&-year {
			width: 18%;
		}
	}

	&-date-day, &-date-month, &-date-year, &-time {
		// height: 18px;
		// vertical-align: bottom;
		// padding: 0;
		text-align: center;
	}

	&-time {
		width: 18%;
	}

	&-separator {
		padding-top: 21px;
		line-height: 0;
	}

	&-calendar {
		border: 0;
		background-color: transparent;
		font-size: 19px;
		vertical-align: bottom;
		padding-bottom: 0;
	}

	&-photo {
		margin: 20px auto;
		display: table;
	}
}