$layout-color-red: #e73d3e;
$layout-color-orange: #f29200;
$layout-color-blue: #019ee3;

@mixin layout-preview-button($color) {
	border-top: 21px solid transparent;
	border-left: 2px solid $color;
	border-bottom: 0 solid transparent;
	border-right: 0 solid transparent;
}

@mixin layout-choise-button($color) {
	border-top: 0 solid transparent;
	border-left: 2px solid transparent;
	border-bottom: 27px solid $color;
	border-right: 0 solid transparent;
}

@mixin layout-icon-before($color) {
	border-top: 0 solid transparent;
	border-left: 0 solid transparent;
	border-bottom: 136px solid transparent;
	border-right: 6px solid $color;
}

@mixin layout-icon-after($color) {
	border-top: 138px solid $color;
	border-left: 0 solid transparent;
	border-bottom: 0 solid transparent;
	border-right: 6px solid transparent;
}

.my-birthday {
	padding-bottom: 20px;
	margin-top: 50px;
	background-color: #fff;
    position: relative;
    z-index: 1;

    &-actions {
		width: 100%;
		margin: 20px 0 10px;

		&-button {
			border-radius: 0;
			text-transform: uppercase;
			border-top: 0 none;
			border-color: #525353;
			cursor: pointer;

			&-yes {
				border-right: 0 none;
			}

			&-no {
				border-left: 0 none;
				color: #ee4949;
			}

			&:hover {
				background-color: transparent;
			}
		}
    }

    &-remove {
    	padding-top: 32px;
    }

	&-new-text {
		font-family: 'HelveticaNeueStd';
		font-size: 17px;
		color: #525353;
		width: 100%;
		display: inline-block;
		text-align: center;
	}

	&-header-text {
		text-align: center;
	}

	&-create-button {
		margin: 20px auto;
		display: table;

		&-small {
			background-color: #019ee3;
			font: 17px 'dk_astromonkeyregular';
			text-transform: uppercase;
			color: #fff;
			padding: 10px;
			display: table;
			margin: 0 auto 30px;

			&:hover {
				text-transform: uppercase;
				color: #fff;
			}
		}
	}

	&-title {
		font: 17px 'HelveticaNeueStd_BDCN';
		color: #525353;
		margin: 20px 0 30px;
	}

	&-list {
		border-top: 1px solid #525353;
	}

	&-item {
		border-bottom: 1px solid #525353;
		padding: 20px 0 5px;
		display: inline-block;
		width: 100%;

		&-name {
			font: 17px 'HelveticaNeueStd';
			display: block;
			color: #525353;
			clear: both;
		}

		&-date {
			color: #b2b5b8;
			font: 15px 'HelveticaNeueStd';
			display: block;
			width: 100%;
		}

		&-enter, &-confirm {
			color: #4d5053;
			font: 17px 'HelveticaNeueStd';
		}

		&-confirm {
			margin-top: 10px;
		}

		&-unfinished, &-archived {
			font: 17px/27px 'HelveticaNeueStd';
			width: 96px;
			height: 27px;
			text-align: center;
			display: block;
			border-radius: 7px;
		}

		&-unfinished {
			background-color: #bfbfc1;
			color: #ee4a49;
		}

		&-archived {
			background-color: #fff;
			color: #4d5053;
			border: 1px solid #4d5053;
		}

		&-presente, &-lixeira {
			height: 27px;
			width: 27px;
			display: inline-block;
			text-align: center;
			font: 10px/33px 'HelveticaNeueStd_CN';
			color: #fff;
		}

		&-presente {
			background: url(../images/aniversarios_presente_icone.png);
		}

		&-lixeira {
			background: url(../images/aniversarios_trash_icone.png);
		}
	}

	&-footer {
		border-top: 1px solid #525353;
		margin-top: 20px;
		padding-top: 10px;

		&-text1 {
			text-align: left;
		}

		&-text2 {
			color: #b2b5b8;
			font-family: 'HelveticaNeueStd';
			font-size: 17px;
			width: 100%;
			display: inline-block;
		}
	}
}

.form-birthday {
	&-paginate-nav {
		margin-top: 46px;
	}

	&-presence {
		p {
			margin-bottom: 7px;
		}
	}

	&-photo {
		margin-top: 10px;
		display: inline-block;

		img {
			max-width: 100%;
			max-height: 280px;
		}
	}

	&-first {
		margin-top: 40px;
	}

	&-presence {
		border-top: 1px solid #c1c1c1;
		margin-top: 43px;
		padding-top: 10px;
	}

	&-paginate {
		&-list {
			list-style-type: none;
		}

		&-item {
			background: url('../images/niver-paginate.png') no-repeat;
			width: 22px;
			height: 22px;
			display: inline-block;
			margin-right: 12px;
			position: relative;

			&:last-child {
				margin-right: 0;
			}

			&.active {
				background-color: #019ee3;
			}
		}

		&-link {
			width: 100%;
			height: 100%;
			font-size: 0;
			top: 0;
			left: 0;
			position: absolute;
		}
	}

	&-submit {
		@extend .reset-btn;
		display: block;
		margin: 0 auto 35px;
		outline: 0;
	}

	&-upload {
		&-text {
			background-color: #f29200;
			width: 200px;
			color: #fff;
			font: 18px 'HelveticaNeueStd_CN';
			text-align: center;
			margin: 170px auto 0;
			padding: 15px 0;
		}

		&-btn {
			background: url('../images/niver_photo.png') no-repeat;
			width: 269px;
			height: 258px;
			cursor: pointer;
			margin: 72px auto 0;
		}
	}

	&-modal {
		top: 25px;
		background: rgba(255,255,255,0.85);
		height: 100%;
		width: 100%;
		position: absolute;
		z-index: 1;

		&-text {
			text-align: center;
			font-family: 'HelveticaNeueStd';
			font-size: 17px;
			color: #f29200;
			margin: 23px 0 0 0;
			cursor: pointer;
		}

		&-close {
			float: right;
			margin: 10px 15px 0 0;
			height: 30px;
			width: 30px;
			display: inline-block;
			position: relative;

			&:after {
				transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
			}

			&:before {
				transform: rotate(-45deg);
				-ms-transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);				
			}

			&:after, &:before {
				content: "";
				background-color: #f19100;
				width: 3px;
				height: 18px;
				display: inline-block;
				position: absolute;
				top: 7px;
				right: 13px;
			}
		}
	}

	&-preview {
		max-width: 90%;
		max-height: 90vh;
		margin: 30px auto;

		&-image {
			max-width: 100%;
			max-height: 100%;
		}

		button.close {
			background-color: #F0C400;
			color: #000;
			position: fixed;
			top: 10px;
			right: 10px;
			height: 30px;
			width: 30px;
			color: #fff;
			border-radius: 30px;
			opacity: 1;
		}
	}

	&-avatar {
		position: absolute;
		right: 0;
		top: 0;
		max-width: 100%;
	}

	&-size {
		&-column {
			margin-top: 35px;
		}

		&-label {
			font: 18px HelveticaNeueStd_CN;
		}

		&-container {
			&.form-group {
				margin-bottom: 25px;
			}

			.select2-selection {
				&--single {
					border-radius: 0;
					border-bottom: 1px solid #c1c1c1;
					border-top: 0 none;
					border-left: 0 none;
					border-right: 0 none;
				}

				&__rendered {
					padding-left: 0 !important;
					padding-right: 0 !important;
					color: #a0a3a5 !important;
					font: 16px HelveticaNeueStd_CN;

					&:after {
						content: "";
						border-top: 12px solid #000;
						border-left: 10px solid transparent;
						border-bottom: 0 solid transparent;
						border-right: 10px solid transparent;
						position: absolute;
						right: 0;
						top: 10px;
					}
				}
			}
		}
	}

	&-sex-label {
		padding-left: 0 !important;
	}

	&-layouts {
		margin-top: 30px;
		padding-bottom: 0;
		margin-bottom: 10px;
		position: relative;

		&-text {
			color: #4d5053;
			font: 18px/27px HelveticaNeueStd_CN;
		}

		&-item {
			list-style-type: none;
			text-align: center;

			&:after {
				content: "";
				display: inline-block;
				width: 0;
				height: 137px;
				border-left: 1px solid #acacac;
				position: absolute;
				left: 0;
			}

			&:first-child {
				&:after {
					display: none;
				}
			}
		}

		&-choise, &-preview, &-swap {
			border: 0 none;
			font: 18px/27px HelveticaNeueStd_CN;
			color: #fff;
			position: relative;
			top: -61px;

			&:before, &:after {
				content: "";
				display: inline-block;
				position: absolute;
				top: 0;
			}
		}

		&-choise {
			&-modal {
				background-color: rgba(255, 255, 255, 0.9);
				position: absolute;
				width: 100%;
				top: 30px;
				text-align: center;
				padding: 80px 0 80px 0;
				z-index: 1;

				&-text {
					font: 18px HelveticaNeueStd_BDCN;
					padding: 0 0 25px;
					color: #4d5053;
				}

				&-buttons {
					margin-top: 25px;
				}

				&-button {
					font: 16px/35px dk_astromonkeyregular;
					border: 0 none;
					color: #fff;
					padding: 0 10px;
					margin: 0 15px;

					&.blue {
						background-color: $layout-color-blue;
					}

					&.orange {
						background-color: $layout-color-orange;
					}

					&.red {
						background-color: $layout-color-red;
					}
				}
			}
		}

		&-choise, &-swap {
			right: -7px;
			padding: 0 9px;

			&:before {
				left: -2px;
			}

			&.red {
				background-color: $layout-color-red;

				&:before {
					@include layout-choise-button($layout-color-red);
				}
			}

			&.orange {
				background-color: $layout-color-orange;

				&:before {
					@include layout-choise-button($layout-color-orange);
				}
			}

			&.blue {
				background-color: $layout-color-blue;

				&:before {
					@include layout-choise-button($layout-color-blue);
				}
			}
		}

		&-preview {
			left: -7px;
			padding: 0 13px;

			&:hover {
				text-decoration: none;
				color: #fff;
			}

			&:after {
				right: -2px;
			}

			&.red {
				background-color: $layout-color-red;

				&:after {
					@include layout-preview-button($layout-color-red);
				}
			}

			&.orange {
				background-color: $layout-color-orange;

				&:after {
					@include layout-preview-button($layout-color-orange);
				}
			}

			&.blue {
				background-color: $layout-color-blue;

				&:after {
					@include layout-preview-button($layout-color-blue);
				}
			}
		}

		&-icon {
			width: 103px;
			height: 136px;
			display: inline-block;
			position: relative;
			background: url(../images/layouts-icon.png) no-repeat center 0;

			&.red {
				background-color: $layout-color-red;

				&:before {
					@include layout-icon-before($layout-color-red);
				}

				&:after {
					@include layout-icon-after($layout-color-red);
				}
			}

			&.orange {
				background-color: $layout-color-orange;

				&:before {
					@include layout-icon-before($layout-color-orange);
				}

				&:after {
					@include layout-icon-after($layout-color-orange);
				}
			}

			&.blue {
				background-color: $layout-color-blue;

				&:before {
					@include layout-icon-before($layout-color-blue);
				}

				&:after {
					@include layout-icon-after($layout-color-blue);
				}
			}

			&:before, &:after {
				content: "";
				display: inline-block;
				position: absolute;
				top: 0;
			}

			&:before {
				left: -6px;
			}

			&:after {
				right: -6px;
			}
		}

		&-dashboard {
			margin-left: 30px;
		}
	}

	&-gift {
		&-column {
			border-right: 1px solid #b0b3b4;
			min-height: 260px;
			position: relative;

			&:last-child {
				border-right: 0 none;
			}
		}

		&-link {
			text-align: center;
			width: 100%;
			display: inline-block;
			color: #4d5053;
			font: 18px 'HelveticaNeueStd_CN';
			padding: 0 25px;

			&:hover {
				text-decoration: none;
			}

			.icon {
				&:before {
					content: "";
					display: inline-block;
					background: url(../images/passo_5_icones.png) no-repeat;
					width: 60px;
					height: 50px;
					position: absolute;
					top: 36px;
					transform: translate(-50%, 0);
					left: 50%;
				}

				position: relative;
				background: url(../images/passo_5_icone_presente.png) no-repeat center 0;
				width: 100%;
				display: block;
				margin: 0 auto;
				padding-top: 100px;
				font: 20px dk_astromonkeyregular;
				color: #ee4949;
				text-align: center;

				&.form-birthday-gift {
					&-toy {
						&:before {
							background-position: 8px 0;
						}
					}

					&-clothes {
						&:before {
							background-position: -286px 0;
						}
					}

					&-quotas {
						&:before {
							background-position: -578px 0;	
						}
					}
				}
			}
		}

		&-count {
			font: 16px HelveticaNeueStd_CN;
			color: #b2b5b8;
			text-align: center;
			width: calc(100% - 30px);
			display: inline-block;
			position: absolute;
			bottom: 0;

			&.active {
				color: #ee4949;

				i {
					background-color: #ee4949;
				}
			}

			i {
				mask: url(../images/passo_5_icone_presente.png) no-repeat center top / contain;
				width: 18px;
				height: 17px;
				display: inline-block;
				margin-right: 4px;
				background-color: #b2b5b8;
			}
		}
	}

	&-finish {
		@extend .btn-blue;
		@extend .reset-btn;

		margin: 5px auto;
		display: block;
		line-height: 39px !important;
		text-align: center;
		padding: 0 30px;
		display: table;
	}
}

.form-inline .form-birthday {
	&-years {
		width: 16%;
	}

	&-date {
		&-day, &-month {
			width: 10%;
		}

		&-year {
			width: 18%;
		}
	}

	&-date-day, &-date-month, &-date-year, &-time {
		text-align: center;
	}

	&-time {
		width: 18%;
	}

	&-separator {
		padding-top: 21px;
		line-height: 0;
	}

	&-calendar {
		border: 0;
		background-color: transparent;
		font-size: 19px;
		vertical-align: bottom;
		padding-bottom: 0;
	}

	&-photo {
		margin: 20px auto;
		display: table;
	}
}