/* FUNDO BRANCO INTERNAS NOTIFICACAO */
.gifts-container.row.col-md-offset-2{background:#fff;}


.brinquedosLista {
	.add-brinquedo{
		font:23px 'HelveticaNeueStd_BDCN'!important;
		color:#ee4949;
	}
	
	.pL30{
		padding-left:30px;
	}

	.bg-presente-lista{
		background:url(../images/presentinho_aniversario_presente_roupas_add.png) 0 6px no-repeat;
		padding:9px 0 9px 84px!important;
		margin-top:-20px;
	}

	.textR{
		text-align:right;
	}

	.textR a{
		color:#333333;
	}

	.modal-lista-item{
		width:350px;
		height:300px;
		padding-top:10px;
		position:absolute;
		top:0;
		left:0;
		background:#fff;
		z-index:2;

		h6{
			font:23px 'HelveticaNeueStd_BDCN';
			color:#333;
			text-align:center;
		}

		span{
			font: 15px 'HelveticaNeueStd_CN';
			color: #b2b5b8;
			text-align:center;
			display:block;
		}

		.gifts-box-number-footer{
			margin-top:17px!important;
		}

		.gifts-box-number-footer a{
			margin:0 -15px!important;
		}
	}

	.modal-lista-concluir {
		width:209px;
		height:162px;

		p{
			font:16px 'HelveticaNeueStd_CN';
			margin:10px 0 0 0;
			color:#555557;
			text-align:center;
		}

		.gifts-box-number-footer a{
			margin:0!important;
		}
	}
}

/* COLUNA DETALHES FESTA */
.detalhes-festa{
	margin-top:35px;

	.my-birthday-item-input {
		position: relative;
		z-index: 2;
		margin-bottom: 5px;
	}

	&:last-child{
		margin-bottom:35px;
	}

	p, span, .gifts-box-number-footer a,.dados-container .social .gifts-box-number-footer a{
		font-family:'HelveticaNeueStd_CN';
	}

	p{
	  font-size:17px;
	  line-height:15px;
	}

	div span{
	  font-size:14px;
	  line-height:18px;
	  display:block;
	  color:#b2b5b8;
	}

	div small{
		position:relative;
		width:29px;
		height:29px;
		margin-top:-9px;
	}

	div small img{
	  position:absolute;
	  top:0;
	  left:0;
	  z-index:1;
	  width:29px;
	  height:29px;
	}

	div small span{
	  position:absolute;
	  top:10px;
	  z-index:2;
	  width:29px;
	  text-align:center;
	  color:#FFF;
	}

	.gifts-box-number-footer a{
		font-size:12px;
		letter-spacing:0.10em;
	}
}


/* COLUNA DETALHES CONVITE */
.header-convite{
	position:relative;
	background:#109dd9;
	height:61px;
	margin:36px 0 52px;

	&-foto {
		position:absolute;
		top:-19px;
		left:38px;
		background-size: cover;
		background-position: center center;
		width: 114px;
		height: 112px;
	}

	img{
		position:absolute;
		top:-19px;
		left:38px;
	
		&:first-child{
			z-index:2;
		}

		&:last-child{
			z-index:1;
		}
	}

	p{
		position:absolute;
		top:8px;
		right:33px;
		width:335px;
		font:18px 'HelveticaNeueStd_CN';
		color:#fff;
		letter-spacing:1px;
		text-align:center
	}
}

.dados-container {
	.social {
		&-back-home {
			font: 16px 'HelveticaNeueStd_CN';
			color: #555557;
			padding-bottom: 10px;
		}

		&-button {
			background-color: #109dd9;
			height: 38px;

			&-print-icon {
				top: 6px;
				position: relative;
			}

			span.convites-texto {
				font-size: 14px;
				line-height: 38px;
			}
		}

		a {
			display:block;
			font:19px 'HelveticaNeueStd_CN';
			color:#FFF;
			line-height:35px;

			&.btn-print{
				background:#109dd9 url(../images/btn-print.png) no-repeat 154px 0;
				width:216px;
				padding:6px 0 0 24px;
				margin-left:81px;
			}
		}

		.convites {
			&-texto {
				font: 19px 'HelveticaNeueStd_CN';
				color: #FFF;
				line-height: 35px;
			}

			&-enviar{
				background:#109dd9 url(../images/btn-invite.png) no-repeat 0 0;
				height: 35px;
				width: 42px;
				text-indent: -9999em;
				display: inline-block;
				text-align: left;
				vertical-align: top;

				&-bg {
					background-color: #109dd9;
				}

				&.email {
					background-position: 0 2px;
				}

				&.fb {
					background-position: -36px 2px;
				}

				&.whats {
					background-position: -72px 2px;
				}
			}
		}
	}
}

.dados-container .convite{
	background: url(../images/bg.jpg);
	width: 100%;
	// width:558px;
	padding-bottom: 15px;
	clear:both;
	margin:20px 59px 20px 0;

	&-content {
		margin-right: 0;
	}

	&-detalhes {
		display: table;

		.passos {
			height: 100%;
			position: absolute;
			margin-right: 10px;

			div {
				padding: 13px 5px;
			}

			span {
				font-size: 15px;
			}
		}

		&-left {
			float: none;
			display: table-cell;
			position: relative;
		}

		&-right {
			float: none;
			display: table-cell;
		}

		&-passo {
			height: 33%;
			padding: 0 5px;
		}
	}
}

.dados-container .passos{
	// position:relative;
	// margin:0 0 0 20px;
	background: rgba(16, 157, 217, 0.2);
}

.dados-container .passos .bg, .dados-container .local-festa .bg{
	
	// width:172px;
	height:368px;
	opacity:0.2;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}
.dados-container .passos div{
	position:relative;
	z-index:2;
	font:17px 'HelveticaNeueStd_CN';
	line-height:17px;
	color:#19434c;
	// width:172px;
	padding:13px 0;
	text-align:center;
}
.dados-container .passos div span{
	padding-top:2px;
	display:block;
}
.dados-container .passos div.bg-presente{
	background: url(../images/gifts-btn.png);
	font:17px 'dk_astromonkeyregular';
	width:50px;
	height:50px;
	color:#FFF;
	padding-top:22px;
	margin:auto;
}
.dados-container .data-festa{
	position:relative;
	background: url(../images/bg-convite-data.png) no-repeat;
	background-size: contain;
	// width:355px;
	height:220px;
	margin-top:-40px;
}
.dados-container .data-festa span{
	font:21px 'HelveticaNeueStd_CN';
	color:#FFF;
	position:absolute;
	top:18px;
	left:85px;
}
.dados-container .local-festa{
	position:relative;
	// width:355px;
	min-height:163px;
	margin-top:10px;
	background: rgba(16, 157, 217, 0.2);
}
.dados-container .local-festa .endereco{
	width:355px;
	z-index:1;
	padding:18px;
	max-width: 100%;
}

.dados-container .local-festa .endereco h5,.dados-container .local-festa .endereco h6{
	font-family:'HelveticaNeueStd_CN';
}
.dados-container .local-festa .endereco h5{
	font-size:16px;
	color:#19434c;
	padding:5px 0;
}
.dados-container .local-festa .endereco h6{
	font-size:18px;
	color:#f59324;
}
/* PAGINA EMAIL */
.lista-email{
	margin-left:30px;

	.form-invite {
		&-delete {
			margin: 0;
			padding: 0;

			&-button {
				width:23px;
				height:28px;
				background:url(../images/bg-excluir.png) no-repeat;
				text-indent:-15000px;
				display:inline-block;
				position:relative;
				z-index:22;
				border: 0 none;
			}
		}

		&-button {
			font: 18px 'HelveticaNeueStd_CN';
			color: #fff;
			background: #109dd9;
			border: 0 none;
			padding: 2px 0;

			&-txt {
				width: 100%;
				border-radius: 4px;
				cursor: pointer;

				~ input {
					cursor: pointer;
				}
			}
		}
	}

	h5{
		font:18px 'HelveticaNeueStd_CN';
		margin:15px 0 0;

		.title{
			background:url(../images/bg-email.png) no-repeat 44px 0;
			display:inline-block;
			height:27px;
			line-height:27px;
			width:100px;
		}
	}
	fieldset,
	.form-invite-list,
	.form-invite-upload{
		padding: 0;
		width: 550px;
		margin: 10px 0;

		.border{
			border-bottom:2px solid #a5a8aa;
			padding-bottom:10px;
		}

		label{
			border-bottom:0;
		}
		.bgC{
			background:#b2b5b8;
		}

		input.texto,
		label{
			font:16px 'HelveticaNeueStd_CN';
			color:#a5a8aa;
			border-bottom:2px solid #a5a8aa;
			border-top:0;
			border-left:0;
			border-right:0;
			padding:2px 0 1px;
			margin-right:3px;
			width:363px;
		}
	}

	ul{
		list-style:none;
		padding:0;

		li{
			font:16px 'HelveticaNeueStd_CN';
			color:#a5a8aa;
			line-height:30px;
		}
	}

	fieldset {
		&.bottom {
			div{
				width:245px;
				margin:auto
			}
			label{
				text-align: center;
				color: #000;
				border-bottom: 0 none;
			}
			button{
				padding:6px 0;
			}
		}
	}
}
/* PAGINA ENVIAR CONVITE */

.enviar-convite {
	margin-left:29px;
	width:554px;

	&-secao{
		border-bottom:2px solid #a5a8aa;
		padding-bottom:20px;
	}

	&-button {
		margin-top: 10px;
		display:block;
		text-align:center;
		border: 0;
		cursor: pointer;
		border-radius: 0;

		.button {
			background: #109dd9;
			font: 16px 'HelveticaNeueStd_CN';
			padding: 2px 0;
			color: #fff;
			width: 100%;
			display: block;
			border: 0;
			min-width: 0;
		}
	}

	&-coluna:first-child{
		border-right:2px solid #a5a8aa;
	}

	h5{
		font:18px 'HelveticaNeueStd_CN';
		margin:15px 0 5px;

		&.email{
			background:url(../images/img-email.png) 46px 0 no-repeat; 
			line-height:26px;
		}

		&.download{
			background:url(../images/img-download.png) 74px 0 no-repeat; 
			line-height:42px;
			margin-top:7px;
		}
	}

	&-texto {
		font:16px 'HelveticaNeueStd_CN';
		color:#b2b5b8;
		display:block;
	}

	.compartilhe{
		margin-top:20px;

		a.bgC{
			background:#b2b5b8;
		}
	}

	.pull-left,.enviar-convite .pull-right{
		width: 131px;
		text-align:center;
	}

	&-upload {
		padding: 4px 0 0;
	}
}

/* MODAL LISTAS */
.modal-lista-presentes{
	width: 1151px;
	height: 750px;
	background: #fff;
	z-index: 222;
	position: absolute;

	.modal-lista-header{
		height:52px;
		background:#109dd9;
	}

	.modal-lista-header a{
		float:right;
		font:44px Verdana;
		color:#fff;
		margin-right:10px;
	}

	.lista-ferramentas {
		margin:12px -32px;
	}

	.lista-ferramentas,
	.lista-header{
		h5{
			font: 18px 'HelveticaNeueStd_CN';
			margin: 0 0;
		}
		.modal-img-print h5{
			margin-top:-10px;
			background: url(../images/img-print.png) 200px 6px no-repeat
		}
		.modal-img-print h5 a{
			line-height: 41px;
			padding-right: 70px;
		}
		span{
			font: 16px 'HelveticaNeueStd_CN';
			color: #b2b5b8;
			display: block;
		}
		a{
			color:#4d5053;
		}
		a.modal-lista-botao{
			font: 18px 'HelveticaNeueStd_CN';
			color:#fff;
			padding:9px 0 9px 62px;
			background:#109dd9 url(../images/img-presente.png) 265px 6px no-repeat; 
		}
		a.modal-lista-presenca{
			font: 18px 'HelveticaNeueStd_CN';
			color:#f49224;
			text-align:right;
		}
	}
	.modal-lista-letras{
		text-align:right;

		&-item {
			display: inline-block;
		}

		&-input:checked {
			~ .modal-lista-letras-botao {
				font: 18px 'HelveticaNeueStd_CN';
				color:#f49224;
			}
		}
	
		&-botao {
			font: 18px 'HelveticaNeueStd_CN';
			color:#4e5154;
			padding:8px 1px 0;
			display:inline-block;
			border: 0;
			background-color: transparent;
			margin:0 0;
			line-height:25px;onvites-envia

			&:hover, &.active{
				font: 18px 'HelveticaNeueStd_CN';
				color:#f49224;
			}
		}
	}

	.lista-descricao{
		border-top:2px solid #a5a8aa;
		border-bottom:2px solid #a5a8aa;
		padding:4px 10px 0;

		div{
			padding:0!important
		}
		strong{
			font: 20px 'HelveticaNeueStd_BDCN';
			letter-spacing:1px;
			color:#4d5053;
			line-height:35px;
		}
		.gifts-filter{
			zoom:110%;
			margin-bottom:0;
		}
		.form-birthday-size-container{
			margin-top:6px;
			margin-bottom:0;
		}
		.bt-search{
			background:url(../images/bg-search.png) 0 6px no-repeat; 
		}
		.bt-search .form-group{
			margin-left:25px; 
		}
	}

	table tr td:first-child{
		padding-left:5px
	}
	table tr.bgC{
		background:#e3e4e3;
	}
	table tr.active td{
		color:#b2b5b8!important;
	}
	table thead tr td{
		color:#000;
	}
	table tr td{
		font:18px 'HelveticaNeueStd_CN';
		color:#8f9192;
		margin:0 0;
		padding:2px 5px 2px 0;
		line-height:25px;
	}
	table tr td a.editar{
		background:url(../images/aniversario-edit-icone.png) no-repeat;
		background-size: 27px 27px;
		width:27px;
		height:27px;
		text-indent:-15000px;
		float:left;
	}
	table tr td a.remover{
		background:url(../images/aniversarios_trash_icone.png) no-repeat;
		width:27px;
		height:27px;
		text-indent:-15000px;
		float:right;
	}
	.lista-descricao.noBD{
		border:0;
	}
	.lista-descricao.bdBottom{
		border-bottom:0;
	}
	.lista-descricao .gifts-filter ul li{
		border-bottom:0;
	}
	.modal-lista-footer{
		height:35px;
		background:#109dd9;
		padding-top:5px;
	}
	.modal-lista-footer a,.modal-lista-footer div{
		font:18px 'HelveticaNeueStd_CN';
		color:#fff;
	}
	.modal-lista-footer span:last-child{
		text-align:right;
	}
	.modal-lista-footer div{
		text-align:center;
	}
}
/* AJUSTES GERAIS */
.detalhes-festa .row{
	margin-left:0;
	margin-right:0;
}
.detalhes-festa.lista-presentes{
	margin-top:15px;
}
.detalhes-festa.lista-presentes .pD{
	padding:3px 0;
}
.detalhes-festa.lista-presentes p{
	margin-bottom:5px;
}
.detalhes-festa a.toys{
	padding:7px 0 4px !important;
}
.detalhes-festa a.toys p{
	font-size:16px;
	margin-bottom:0!important;
}

#inviteList {
	font-size: 14px;
}