.button-selected {
	display: block !important;
	height: 24px;
	font: 15px/24px 'HelveticaNeueStd_BDCN';
	text-align: center;
}

.button-remove {
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
	height: 100%;
	background-color: transparent;
	border: 0 none;
	outline: 0;

	&:after, &:before {
		content: "";
		display: inline-block;
		border-top: 1px solid #fff;
		width: 20px;
		height: 0;
		position: absolute;
		left: 9px;
		top: 11px;
	}

	&:after {
		transform: rotate(45deg);
	}

	&:before {
		transform: rotate(-45deg);
	}
}

.gifts {
	&-quotas-button-remove {
		height: 19px;
		border-radius: 0;
		border-left: 0 none;
		border-right: 0 none;
	}

	&-detail {
		&-button-selected {
			border-top: 0 none;
			border-bottom: 1px solid #cfcfd1;
			background-color: #019ee3;
			color: #fff;
			outline: 0;
			font: 15px/21px 'HelveticaNeueStd_BDCN';
			position: relative;
			text-align: center;
		}

		&-buttons {

		}
	}
	&-modal {
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(255, 255, 255, 0.85);
		width: 100%;
		height: 100%;
		z-index: 5;

		&-title {
			font: 18px 'HelveticaNeueStd_BDCN';
			color: #555557;
			text-align: center;
		}

		&-subtitle {
			font: 15px 'HelveticaNeueStd_CN';
			color: #909394;
			text-align: center;
			margin-bottom: 25px;
		}

		&-content {
			margin-top: 20vh;
		}

		&-buttons {
			text-align: center;
			margin-top: 40px;
		}

		&-button {
			@extend .btn-blue;
			@extend .reset-btn;

			padding-left: 20px;
			padding-right: 20px;

			&-remove {
				margin-right: 20px;
			}
		}
	}

	&-title {
		font: 18px 'HelveticaNeueStd_BDCN';
		color: #555557;
		margin-top: 30px;
	}

	&-container {
		padding-top: 35px;
		margin-top: 35px;
	    padding-bottom: 35px;
		
	}

	&-box {
		&-toys {
			&-add {
				margin: 25px 0 60px 0;

				&-legend {
					color: #b2b5b8;
					font: 15px HelveticaNeueStd_CN;
				}

				&-text {
					font: 15px/45px HelveticaNeueStd_BDCN;
					display: inline-block;
					color: #ee4949;
					vertical-align: top;
					padding: 0 0 0 5px;
				}
			}
		}

		&-number {
			text-align: left;
			transition: all 0.2s;

			.gifts-filter-search-input.form-control {
				width: 100%;
			}

			&-header {
				margin-top: 10px;
				background-color: #e6e6e8;
				padding: 20px 0 33px;

				&-title {
					font: 18px 'HelveticaNeueStd_BDCN';
					color: #545456;
					margin: 0 0 15px;
				}

				p {
					font: 16px 'HelveticaNeueStd_CN';
					margin: 0;
					color: #555557;
				}
			}

			&-middle {
				text-align: center;
				border-bottom: 1px solid #e6e6e8;
				padding: 8px 0;
				display: inline-block;
				border-bottom: 1px solid #e6e6e8;
				width: calc(100% + 30px);
				margin: 0 -15px;

				&-view {
					font: 15px 'HelveticaNeueStd_BDCN';
					color: #555557;
				}

				&-selected {
					font: 16px 'HelveticaNeueStd_CN';
					color: #555557;
				}

				&.toys {
					width: 50%;
					padding-left: 15px;
					padding-right: 15px;
					margin: 0;
					background-color: #fff;

					&:first-child {
						border-right: 1px solid #e6e6e8;
					}
				}
			}

			&-footer {
				margin-top: 30px;
			}

			&-submit {
				@extend .btn-blue;
				@extend .reset-btn;

				margin: 0 auto;
				display: block;
				line-height: 34px !important;
				text-align: center;
				height: auto !important;
			}

			&-back {
				text-align: center;
				width: 100%;
				display: block;
				font: 15px 'HelveticaNeueStd_CN';
				color: #b2b5b8;
			}
		}
	}

	&-list {
		position: relative;

		&-message {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 2;
			background: rgba(242,220,127,0.95);
			padding: 33px 30px;
			text-align: center;

			&-first {
				font: 15px 'HelveticaNeueStd_CN';
				margin-bottom: 5px;
			}

			&-secound {
				font: 13px 'HelveticaNeueStd_CN';
			}

			&-remove {
				position: absolute;
				right: 10px;
				top: 10px;
				width: 30px;
				height: 100%;
				background-color: transparent;
				border: 0 none;
				outline: 0;

				&:after, &:before {
					content: "";
					display: inline-block;
					border-top: 1px solid #f59324;
					width: 20px;
					height: 0;
					position: absolute;
					left: 9px;
					top: 11px;
				}

				&:after {
					transform: rotate(45deg);
				}

				&:before {
					transform: rotate(-45deg);
				}
			}
		}
	}
    &-item-lista {
		max-height: 150px;
	}
	&-item-roupas {
		margin-bottom: 10px;
		max-height: 150px;
	}

	&-item {
		list-style-type: none;
        margin-top: 10px;
	    
		&-link {
			color: #555557;
			text-align: center;
			padding: 1px 0px;
		}

		&.selected {
			background-color: #def2fb;
			background-clip: content-box;

			.gifts-item {
				&-buttons {
					display: none;
				}

				&-button-selected {
					@extend .button-selected;
				}
			}
		}

		> .row {
			padding-top: 9px;
		}

		&-title {
			font: 16px 'HelveticaNeueStd_CN';
			color: #555557;
			height: 60px;
			overflow: hidden;
		}

		&-image {
			padding-left: 8px;
		}

		&-buttons {
			margin-top: 10px;
			height: 21px;

			button {
				border-radius: 0;
			}
		}

		&-button {
			border-top: 0 none;
			border-bottom: 1px solid #cfcfd1;
			background-color: transparent;
			outline: 0;
			font: 15px 'HelveticaNeueStd_BDCN';
			position: relative;
			color: #555557;

			&-show {
				border-left: 0 none;
				border-right: 1px solid #cfcfd1;
				// padding-top: 1px;
	            // padding-bottom: 1px;
			}

			&-select {
				border-left: 0 none;
				border-right: 0 none;
			}

			&-selected {
				background-color: #019ee3;
				border: 0 none;
				margin-top: 10px;
				color: #fff;
			}

			&-remove {
				@extend .button-remove;
			}

			&-back {
				border-right: 0;
				border-left: 0;
				text-align: center;
				height: 22px;
			}
		}

		&-price-description, &-color-description {
			color: #bebec0;
			font: 15px 'HelveticaNeueStd_CN';
		}

		&-price-value, &-color-value {
			font: 15px 'HelveticaNeueStd_CN';
		}
	}

	&-filter {
		margin-bottom: 15px;

		&-search {
			&-input.form-control {
				width: 85%;
			}

			&-submit {
				width: 12%;
				margin-top: 5px;
				height: 29px;
				background-color: #019ee3;
				border: 0 none;
				font: 16px 'dk_astromonkeyregular';
				color: #fff;
				padding: 0;
			}
		}

		&-categories {
			list-style-type: none;
			text-align: right;
			margin-right: 15px;

			&-item {
				font: 16px 'HelveticaNeueStd_CN';
				color: #525457;
				display: inline-block;
				padding-left: 10px;
				border-bottom: 1px solid #525457;

				&.active {
					span, i {
						opacity: 1;
					}
				}

				span {
					line-height: 35px;
					opacity: 0.4;
				}

				i {
					opacity: 0.4;
				}

				a {
					color: #525457;
				}

				&:first-child {
					padding-left: 0;
				}
			}

			&-icon {
				background: url('../images/presentes-icones.png') no-repeat;
				height: 35px;
				width: 37px;
				display: inline-block;
				float: left;
			}
		}

		&-search {
			margin-right: 15px;
			width: 275px;

			.input-group-addon {
				background-color: transparent;
				border: 0 none;
				font-size: 22px;
			}

			&-input {
				border: 0;
				box-shadow: none;
				border-bottom: 1px solid #525457;
				border-radius: 0;
				padding: 0;
				outline: 0;
			}
		}

		&-select {
			width: 100px;

			&-container {
				clear: both;
				margin-right: 15px;

				.select2-selection--single {
					border: 0 none;
					border-bottom: 1px solid #525457;
					border-radius: 0;
					font: 16px 'HelveticaNeueStd_CN';
					color: #555557;
				
					.select2-selection__arrow b {
						border-top: 10px solid #555557;
						border-right: 7px solid transparent;
						border-bottom: 10px solid transparent;
						border-left: 7px solid transparent;
						display: block;
						margin-top: -4px;
					}

					.select2-selection__rendered {
						color: #555557;
					}
				}
			}
		}
	}

	&-categories {
		&-row {
			padding-left: 15px;
			padding-right: 15px;
		}

		&-column {
			padding: 0 0 12px;
		}

		&-list {
			list-style-type: none;
			text-align: center;
		}

		&-intro {
			color: #4d5053;
			font: 18px 'HelveticaNeueStd_CN';
			margin: 0 0 20px;
		}

		&-item {
			vertical-align: top;
			color: #4d5053;
			font: 15px 'HelveticaNeueStd_CN';
			cursor: pointer;
			text-align: center;

			&.active {
				.gifts-categories-icon {
					&.orange {
						display: block;
					}

					&.red {
						display: none;
					}
				}
			}
		}

		&-icon {
			margin: 0 auto 3px;

			&.orange {
				display: none;
			}

			&.red {
				display: block;
			}
		}

		&-submit {
			@extend .btn-blue;
			@extend .reset-btn;

			margin: 0 auto 5px;
			display: block;
			line-height: 34px !important;
			text-align: center;
		}
	}

	&-input-icon {
		line-height: 22px;
		margin-bottom: 3px;

		input {
			border-radius: 0;
			border: 0 none;
			box-shadow: none;
			margin-bottom: 0;
			height: 26px;
		}

		.input-group-addon {
			border: 0 none;
			background-color: #eaeaea;
		}
	}
}

.brinquedosLista {
	
}

.criar-presentes {
	&-errors {
		list-style-type: none;
	}

	.bgC {
		background-color:#eaeaea;
	}

	.gifts-item {
		&-title {
			height: auto;
			margin-bottom: 10px;
		}

		&-price {
			&-description {
				&-upload, &-cota {
					font: 15px 'HelveticaNeueStd_CN';
					color: #bebec0;
					margin: 0 0 20px 0;
				}

				&-upload {
					padding: 64px;
					cursor: pointer;
				}
			}

			&-value {

			}
		}

		&-quotas-box {
			margin: 0 0 15px;
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}

	.upload-image{
		display:none;
	}

	&-form {
		padding-bottom: 15px;

		p {
			padding: 3px;
		}
		
		.select2-selection {
			background-color: transparent;
		}

		.form-birthday-size-container.form-group {
			margin-bottom: 5px;
		}

		.gifts-item-price-description {

		}
	}

	&-save-continue {
		border-left: 0 none;
		border-right: 0 none;
	}
}

.imglogo{
	width: 80px;
	float: left;
	padding: 10px;
	margin-top: 55px;
}

.texto b {
	display: block;
}

.conteudo-zoom {
	zoom:50%;
}

.pull-left.zoom{
	border-right: 2px solid #D5D6D7;
	padding: 10px;
	text-align: center;
	width: 50%;
}

.gifts-item-price-description-detalhe-brinquedo{
	margin:0 0 10px -15px;
}
a:hover, a:focus {
    color: #555557;
    text-decoration: inherit;
}