//Misc
@import '_bootstrap';
@import 'config/_settings';
@import 'config/_mixins';


//Global
@import 'general/_normalize';
@import 'general/_reset';
@import 'layout/_fonts';
@import 'layout/_header';
@import 'layout/_footer';
@import 'layout/_mobile';
@import 'pages/home';
@import 'pages/cadastro';
@import 'pages/logado';
@import 'pages/_criando-aniversario';
@import 'pages/meus-aniversarios';

.jquery-switch-wrapper {
	width: 100px;
	height: 27px;

	.jquery-switch {
		background: transparent url('../images/switches.png') no-repeat scroll 0 -35px;
		display: block;
		cursor: default;
		width: 100%;
		height: 100%;

		&.jquery-switch-on {
			background-position: 0 0;
		}
	}
}