
@font-face {
    font-family: 'HelveticaNeueStd';
    src: url('../fonts/helveticaneueltstd-cn-webfont.eot');
    src: url('../fonts/helveticaneueltstd-cn-webfont.eot') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-cn-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltstd-cn-webfont.ttf') format('truetype');
         font-weight: normal;
}
@font-face {
    font-family: 'HelveticaNeueStd_BDCN';
    src: url('../fonts/helveticaneueltstd-bdcn-webfont.eot');
    src: url('../fonts/helveticaneueltstd-bdcn-webfont.eot') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-bdcn-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltstd-bdcn-webfont.ttf') format('truetype');
         font-weight: normal;
}
@font-face {
    font-family: 'HelveticaNeueStd_CN';
    src: url('../fonts/helveticaneueltstd-cn-webfont.eot');
    src: url('../fonts/helveticaneueltstd-cn-webfont.eot') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-cn-webfont.woff') format('woff'),
         url('../fonts/helveticaneueltstd-cn-webfont.ttf') format('truetype');
         font-weight: normal;
}
@font-face {
    font-family: 'dk_astromonkeyregular';
    src: url('../fonts/dk_astromonkey-webfont.woff2') format('woff2'),
         url('../fonts/dk_astromonkey-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
