footer {
    height: 243px;
    z-index: 3;
    background: url(../images/bg_footer.jpg);
    font-size: 17px;
    color: #FFF;
    position: relative;
    float: left;
    width: 100%;
    //.container{
    padding-top: 30px;
    .logo {
        width: 129px;
        display: inline-block;
    }
    .presentinho_red {
        width: 107px;
    margin-top: 20px;
    }
    .presentinho_blue {
        width: 118px;
        margin-top: 3px;
    }
    .nav {
        display: inline-block;
        ul {
            list-style: none;
            display: block;
            max-width: 200px;
            li {
                display: inline-block;
                a {
                    color: #FFF;
                    font-family: 'HelveticaNeueStd_CN';
                }
            }
        }
    }
    .placa {
        background: url(../images/placa.png) no-repeat;
        background-size: contain;
        height: 120px;
        margin-left: 10px;
        margin-top: 10px;
        ul {
            list-style: none;
            li {
                display: inline-block;
                margin: 25px 13px;
                a {
                    img {
                        width: 40px;
                    }
                }
            }
        }
    }
    //}
    .copyright {
        border-top: 3px solid #FFF;
        color: #FFF;
        text-align: center;
        padding: 10px 30px 0;
        width: 100%;
        margin-top: 10px;
        font-family: 'HelveticaNeueStd_CN';
        font-size: 17px;
    }
}
