* { box-sizing: border-box; }



#u4816 {
    z-index: 444;
    width: 35px;
    position: fixed;
    top: 6px;
    left: 50%;
    margin-left: -446px;
}

#menuu3913 {
    z-index: 433;
    width: 107px;
    position: fixed;
    top: 8px;
    left: 50%;
    margin-left: 28px;
}

#u3961 {
    z-index: 441;
    width: 1px;
    height: 34px;
    position: fixed;
    top: 8px;
    left: 50%;
    margin-left: 26px;
}

#u3856 {
    width: 118px;
    padding-bottom: 15px;
    position: relative;
}

#menuu3847 {
    z-index: 420;
    width: 181px;
    position: fixed;
    top: 8px;
    left: 50%;
    margin-left: 317px;
}

#menuu2489 {
    z-index: 401;
    width: 422px;
    position: fixed;
    top: 8px;
    left: 50%;
    margin-left: -395px;
}

#u2511 {
    width: 131px;
    min-height: 34px;
    position: relative;
    margin-right: -10000px;
    left: 156px;
}

#menuu2489, #menuu3847, #menuu3913, #u9576 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
}

#u2517-4 {
	width: 105px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 7px;
	left: 13px;
}

#u2517-4 {
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #373639;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u2520-4 {
    width: 107px;
    min-height: 19px;
    position: relative;
    margin-right: -10000px;
    top: 7px;
    left: 13px;
}

#u2518 {
    width: 133px;
    min-height: 34px;
    position: relative;
    margin-right: -10000px;
    left: 289px;
}

#u2520-4,
#u3916-4,
#u3858-4,
#u3866-4,
#u2507-4 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    color: #373639;
    line-height: 19px;
    font-size: 16px;
    text-align: center;
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    font-weight: normal;
}

#u3916-4 {
    width: 81px;
    min-height: 19px;
    position: relative;
    margin-right: -10000px;
    top: 7px;
    left: 13px;
}

#u3964 {
    z-index: 443;
    width: 170px;
    height: 21px;
    position: fixed;
    top: 14px;
    left: 50%;
    font-size: 13px;
    padding: 0px 0px 0px 5px;
    margin-left: 131px;
    border: 1px solid #373639;
    background-color: transparent;
    border-radius: 10px;
}

#u3858-4 {
    width: 92px;
    min-height: 19px;
    position: relative;
    margin-right: -10000px;
    top: 7px;
    left: 13px;
}

#u3958 {
    z-index: 440;
    width: 1px;
    height: 34px;
    position: fixed;
    top: 8px;
    left: 50%;
    margin-left: 437px;
}

#u3866-4 {
    width: 35px;
    min-height: 19px;
    position: relative;
    margin-right: -10000px;
    top: 7px;
    left: 13px;
}

#u2507-4 {
    width: 128px;
    min-height: 19px;
    position: relative;
    margin-right: -10000px;
    top: 7px;
    left: 13px;
}

#u2504 {
    width: 154px;
    min-height: 34px;
    position: relative;
    margin-right: -10000px;
}

#u3958,
#u3961,
#u3967 {
    background-color: #373639;
}

#u3967 {
    z-index: 442;
    width: 1px;
    height: 34px;
    position: fixed;
    top: 8px;
    left: 50%;
    margin-left: 318px;
}

#u2505 {
    width: 154px;
    padding-bottom: 15px;
    position: relative;
}

.MenuItemLabel a {
    color: #373639;
    text-decoration: none;
}

.grpelem, .accordion_wrapper {
    display: inline;
    float: left;
}

a:visited {
    color: #373639;
    text-decoration: none;
}

a:link {
    color: #373639;
    text-decoration: none;
}

#u4814 {
    z-index: 445;
}

#u2519 {
    width: 133px;
    padding-bottom: 15px;
    position: relative;
}

#u4796, #u4814 {
    display: block;
}

.svg {
    display: block;
}

.cadastro-create header {
	margin-top: 50px;
}





html { height: 100%; }

body {
	margin: 0;
	height: 100%;
	background:url(../images/bg.jpg);
}

header{
	height: 119px;
	background:url(../images/bg_menu.jpg);
	font-size:17px;

	.navbar{
		border:0;
		margin-top: 20px;
		margin-bottom: 0;

		&-title {
			&.no-menu {
				margin-top: 25px;
			}
		}

		&.navbar-default{
			.navbar-collapse {
			  	text-align: center;
				.navbar-nav{
					display: inline-block;
					float: none;
					vertical-align: top;
					li{
						border-bottom: 3px solid #FFF;

						&.logout{
							border-bottom:0;
							margin-left: -5px;
							margin-top: -15px;

							a {
								background: url(../images/sair.png) no-repeat;
								background-size: contain;
								width: 68px;
								height: 82px;
								color: #f59324;
								font: 30px/80px HelveticaNeueStd_BDCN;
								text-align: center;
							}
						}

						&.divisor{
							border-right:3px solid #FFF;
						}

						a{
							padding: 0 15px 5px;
							color:#FFF;
							font: 18px 'HelveticaNeueStd';
						}
					}
				}
			}

		}
	}
	h2{
		font-family: 'dk_astromonkeyregular';
		color: #FFF;
		font-size:26px;
		text-align:center;
		margin-top: -15px;
    letter-spacing: 5px;
	}
	img{
		width: 50px;

	}
}
