* { box-sizing: border-box; }

html { height: 100%; }

body {
	margin: 0;
	height: 100%;
	background:url(../images/bg.jpg);
}

header{
	height: 119px;
	background:url(../images/bg_menu.jpg);
	font-size:17px;

	.navbar{
		border:0;
		margin-top: 20px;
		margin-bottom: 0;

		&-title {
			&.no-menu {
				margin-top: 25px;
			}
		}

		&.navbar-default{
			.navbar-collapse {
			  	text-align: center;
				.navbar-nav{
					display: inline-block;
					float: none;
					vertical-align: top;
					li{
						border-bottom: 3px solid #FFF;

						&.logout{
							border-bottom:0;
							margin-left: -5px;
							margin-top: -15px;

							a {
								background: url(../images/sair.png) no-repeat;
								background-size: contain;
								width: 68px;
								height: 82px;
								color: #f59324;
								font: 30px/80px HelveticaNeueStd_BDCN;
								text-align: center;
							}
						}

						&.divisor{
							border-right:3px solid #FFF;
						}

						a{
							padding: 0 15px 5px;
							color:#FFF;
							font: 18px 'HelveticaNeueStd';
						}
					}
				}
			}

		}
	}
	h2{
		font-family: 'dk_astromonkeyregular';
		color: #FFF;
		font-size:26px;
		text-align:center;
		margin-top: -15px;
    letter-spacing: 5px;
	}
	img{
		width: 50px;

	}
}
@media only screen and (max-width : 640px) {
    header .navbar.navbar-default .navbar-collapse .navbar-nav{
	    width: 100%;
        background: url('../images/bg_menu.jpg');
    }
    header .navbar{
		padding: 0;
	}
	header .navbar.navbar-default .navbar-collapse {
		padding: 0;
	}
	header .navbar.navbar-default .navbar-collapse .navbar-nav li.divisor {
        border-right: none;
    }
	header .navbar.navbar-default .navbar-collapse .navbar-nav li a{
		padding: 15px;
	}
}