* { box-sizing: border-box; }

html { height: 100%; }

body {
	margin: 0;
	height: 100%;
	background:url(../images/bg.jpg);
}

header{
	height: 119px;
  background-image: url(../images/bg.png);
  background-size: cover;
  background-repeat: repeat;
	font-size:17px;
  background-color:#fff;


	.navbar{
		border:0;
		margin-top: 20px;
		margin-bottom: 0;

		&-title {
			&.no-menu {
				margin-top: 25px;
			}
		}

		&.navbar-default{
			.navbar-collapse {
			  	text-align: center;
				.navbar-nav{
					display: inline-block;
					float: none;
					vertical-align: top;
					li{
						border-bottom: 3px solid #666;

						&.logout{
							border-bottom:0;
							margin-left: -5px;
							margin-top: -15px;

							a {
								background: url(../images/sair.png) no-repeat;
								background-size: contain;
								width: 68px;
								height: 82px;
								color: #f59324;
								font: 30px/80px HelveticaNeueStd_BDCN;
								text-align: center;
							}
						}

            &.login-do {
              border: none;
              .header-logo {
                display: block;
                max-width: 100%;
                margin: -13px auto 0;
              }
              a {
                margin-left: -30px;
              }
            }

						&.divisor{
							border-right:3px solid #666;
						}

						a{
							padding: 0 30px 5px;
							color:#666;
							font: 18px 'HelveticaNeueStd';
						}
					}
				}
			}

		}
	}
	h2{
		font-family: 'dk_astromonkeyregular';
		color: #666;
		font-size:26px;
		text-align:center;
		margin-top: -25px;
    letter-spacing: 5px;
	}
	img{
		width: 50px;

	}
}
